<script>
    $(document).ready(function () {
        var jsonUrl = "https://raw.githubusercontent.com/albertyang33/albertyang33.github.io/main/results/gs_data.json";
        
        $.getJSON(jsonUrl, function (data) {
            var totalCitation = data['citedby'];
            document.getElementById('total_cit').innerHTML = totalCitation;
            var citationEles = document.getElementsByClassName('show_paper_citations');
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data');
                var numCitations = data['publications'][paperId]['num_citations'];
                // 修改这行，将数字包装在带样式的 span 标签中
                element.innerHTML ='<span style="color: #00369f">' + 'Citations: ' + numCitations + '</span>';
            });
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("获取数据失败：", textStatus, errorThrown);
        });
    })
</script>